.mat-table {
    border-top: 1px solid #aeaeae;
    border-left: 1px solid #aeaeae;
}

.mat-row {
    border-bottom-style: none;
}

.mat-cell {
    justify-content: center;
    border-right: 1px solid #aeaeae;
    border-bottom: 1px solid #aeaeae;
    padding: 0;
}

.dark-cell {
    background-color: darkgrey;
}

.light-cell {
    background-color: #d4d4d4;
}

.green-cell {
    background-color: lightgreen;
}

.red-cell {
    background-color: red;
}