<mat-table class="mat-elevation-z8" [dataSource]="board.dataSource" [id]="boardId">
    <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column}}">
        <mat-header-cell *matHeaderCellDef>{{column}}</mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="cellBackground(row[column])"
            (click)="isPlayable && (playerId == stringToNumber(boardId)) && checkCell(row[column])"
            (contextmenu)="$event.preventDefault(); isPlayable && flag(row[column])">
            <mat-icon *ngIf="row[column].status === 'flag'">flag</mat-icon>
            <img *ngIf="row[column].status === 'clear' && row[column].mine" style="width:24px;height:24px"
                src="assets/images/mine.svg">
            <span
                *ngIf="row[column].status === 'clear' && !row[column].mine && row[column].surroundingMines != 0">{{row[column].surroundingMines}}</span>
        </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>