<div class="row" style="margin-top: 30vh">
    <div class="col-12 d-flex justify-content-center">
        <mat-card class="mx-1 mat-elevation-z8" style="max-width: 350px; width: 350px">
            <div class="row mt-2">
                <div class="col-12 d-flex justify-content-center">
                    <form [formGroup]="lobbyFormControl" (ngSubmit)="goToGame()">
                        <div class="row mt-2" style="margin-bottom: -5px">
                            <div class="col-12 d-flex justify-content-center">
                                <mat-form-field appearance="outline" hideRequiredMarker="true" style="width: 300px">
                                    <mat-label class="themed-text">Name</mat-label>
                                    <input formControlName="name" class="themed-text" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <mat-form-field appearance="outline" hideRequiredMarker="true" style="width: 300px">
                                    <mat-label class="themed-text">Room code</mat-label>
                                    <input formControlName="code" class="themed-text" style="text-transform: uppercase"
                                        matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -8px; margin-bottom: 14px">
                            <div class="col-12 d-flex justify-content-center">
                                <button mat-raised-button class="details-text" type="submit"
                                    [disabled]="!lobbyFormControl.valid">Join Game</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </mat-card>
    </div>
</div>

<div class="row my-4">
    <div class="col-12 d-flex justify-content-center">
        <mat-card class="mx-1 mat-elevation-z8" style="max-width: 350px">
            <p class="m-3 text-center details-text">To join a room with another player, you must both put in the
                same
                room code in the field above. It can be any code.
            </p>
        </mat-card>
    </div>
</div>