.details-text {
    font-size: 16px;
}

.game-stats {
    font-size: 20px;
}

.settings-header {
    font-size: 18px;
    margin-bottom: 5px;
}

.settings-input {
    width: 70px;
}

.winner {
    position: absolute;
    top: 332px;
    font-size: 100px;
}