<div *ngIf="!gameStarted">
    <div class="row" *ngIf="!gameStarted" style="margin-top: 30vh">
        <div class="col-12 d-flex justify-content-center">
            <mat-card class="mx-1" style="max-width: 350px">
                <div class="row mt-2">
                    <div class="col-12 d-flex justify-content-center">
                        <button mat-raised-button class="details-text" style="margin-top: 10px"
                            [disabled]="!playerJoined" (click)="gameStart()">Start Game</button>
                    </div>
                </div>
                <p class="mt-4 m-3 text-center details-text">The Start Game button will be available once a second
                    player has joined the room. Only the host is able to start the game. </p>
            </mat-card>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 d-flex justify-content-center">
            <mat-card class="mx-1" style="max-width: 350px">
                <p class="m-3 text-center details-text"> Once the game starts, the host will use the
                    board on the left while the other player uses the board on the right. Only the host can control the
                    settings.</p>
            </mat-card>
        </div>
    </div>
</div>

<div *ngIf="gameStarted">
    <div class="row mt-4" style="width: 100%">
        <div class="col-lg-6 mb-4 mb-lg-0">
            <div class="row mb-3">
                <div class="col-12 d-flex justify-content-center">
                    <mat-card>
                        <p class="game-stats m-3">Number of Mines: {{numberOfMines[0]}}</p>
                    </mat-card>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <app-game [rowSize]="rowSize[0]" [numberOfMines]="numberOfMines[0]" boardId="0"
                        [playerId]="playerId" [hasWon]="hasWon[0]" [isPlayable]="isPlayable[0]"
                        (wonEmitter)="won($event, 0)" (gameUpdate)="gameUpdate($event, 0)"
                        (lostEmitter)="lost($event, 0)">
                    </app-game>
                    <p *ngIf="gameFinished && hasWon[0]" class="winner">Winner!</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mr-0">
            <div class="row mb-3">
                <div class="col-12 d-flex justify-content-center">
                    <mat-card>
                        <p class="game-stats m-3">Number of Mines: {{numberOfMines[1]}}</p>
                    </mat-card>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <app-game [rowSize]="rowSize[1]" [numberOfMines]="numberOfMines[1]" boardId="1"
                        [playerId]="playerId" [hasWon]="hasWon[1]" [isPlayable]="isPlayable[1]"
                        (wonEmitter)="won($event, 1)" (gameUpdate)="gameUpdate($event, 1)"
                        (lostEmitter)="lost($event, 1)">
                    </app-game>
                    <p *ngIf="gameFinished && hasWon[1]" class="winner">Winner!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 d-flex justify-content-center">
            <button mat-raised-button *ngIf="gameStarted" class="m-4 details-text" (click)="gameStart()"
                [disabled]="!settingsFormControl.valid || playerId == 1">Restart</button>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-6 d-flex justify-content-center">
                <p class="settings-header">Levels</p>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <p class="settings-header">Starting Number of Mines</p>
            </div>
        </div>

        <div class="row">
            <div class="col-6 d-flex justify-content-center">
                <form [formGroup]="settingsFormControl">
                    <mat-form-field class="settings-input">
                        <input formControlName="numberOfBoards" type="number" matInput min="1" max="20"
                            (input)="settingFormatter(numberOfBoards, 20)">
                    </mat-form-field>
                </form>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <form [formGroup]="settingsFormControl">
                    <mat-form-field class="settings-input">
                        <input formControlName="startingNumberOfMines" type="number" matInput min="1" max="80"
                            (input)="settingFormatter(startingNumberOfMines, 80)">
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
</div>