<mat-card class="mx-5 mt-5 mat-elevation-z8" style="margin-bottom: 108px; width: 70%">
    <p class="mx-4 mt-4 mb-1 title">What is Minesweeper Melee?</p>
    <p class="m-4 info">It's a new way to play Minesweeper that lets you go head-to-head against your friends!</p>
    <p class="mx-4 mb-4 info">Other attempts of adding multiplayer to this game have never felt right. Some are turn
        based, others have too many people with no identity, all have little true interaction. Hence, the hat was
        thrown into the ring, to do it better than anyone else.
    </p>


    <hr class="mx-4 my-2">


    <p class="mx-4 mt-4 mb-1 title">How Do You Play?</p>
    <p class="m-4 info">The premise is the same as always. Open up as much of the board as you can while avoiding mines.
        The difference being you compete with your opponent in speed and accuracy.
    </p>
    <p class="mx-4 mb-4 info">When the game starts, there is a certain number of levels that must be finished for a
        player to win. The number of levels can be modified at any time by the host. When a player completes their
        board, a new board will generate and the player will move on to the next level.
    </p>
    <p class="mx-4 mb-4 info">With each level reached, the number of mines will increase by one. The number of mines in
        the first level can also be changed by the host. If a player detonates a mine, the board will be wiped and the
        level will reset. Don't worry, there's no way to go back a level.
    </p>


    <hr class="mx-4 my-2">


    <p class="mx-4 mt-4 mb-1 title">Who Made Minesweeper Melee?</p>
    <p class="m-4 info">Minesweeper Melee was created by <a href="https://twitter.com/fablessb"
            target="_blank">Fable</a> after wanting a new and better way to play with friends.
    </p>
    <p class="mx-4 mb-4 info">Join the <a href="https://discord.gg/hW2r7Ssuaa" target="_blank">official Discord</a> to
        see any announcements, report issues, or chat with others in the community!
    </p>
    <p class="mx-4 mb-4 info">If you would like to see the project grow, you can offer your support via
        <a href="https://paypal.me/santiagopinto1" target="_blank">PayPal</a> or
        <a href="https://account.venmo.com/u/Santiago-Pinto" target="_blank">Venmo</a>.
    </p>


    <hr class="mx-4 my-2">


    <p class="mx-4 mt-4 mb-1 title">Future Plans</p>
    <p class="m-4 info">There will be ongoing additions to this project for as long as it's wanted.
    </p>
    <p class="mx-4 mb-4 info">The next big update will include items and power-ups that can be obtained from the board
        and used
        against your opponent when needed. This will add much more interactivity to the game and lead to new strategies
        being formed.
    <p class="mx-4 mb-4 info">If you would like to
        suggest anything else, or have ideas for power-ups, please feel free to join the Discord and share your
        thoughts.
    </p>
</mat-card>